.red{
    background-color:red
}
.yellow{
    background-color:yellow
}
.teal{
    background-color:teal
}
.pink{
    background-color:pink
}
.green{
    background-color:green
}
.bold{
    font-weight: bold;
}